body {
    color:white;
    font-family: Arial, sans-serif;
    background-color:black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.left-column {
    width: 50%;
    padding: 20px;
}

.right-column {
    width: 50%;
}

.right-column img {
    border-radius: 50%;
}

img {
    max-width: 100%;
    height: auto;
}
.social-icon {
    list-style: none; /* Menghilangkan bullet point dari daftar */
    padding: 0%; /* Menghilangkan padding */
    display: flex; /* Mengubah daftar menjadi elemen flex */
    flex-direction: row; /* Mengatur arah flex ke horisontal (kiri-kanan) */
}

.social-icon li {
    margin-right: 20px; /* Memberikan jarak antara ikon ikuti */
}

.social-icon a {
    text-decoration: none; /* Menghilangkan underline dari tautan */
}

.komentar{
    padding: 40px;
}